Source: ros-melodic-timestamp-tools
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-roslib
Homepage: http://www.ros.org/wiki/timestamp_tools
Standards-Version: 3.9.2

Package: ros-melodic-timestamp-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-roslib
Description: This package is currently for internal use only.
 Its API may change without warning in the future. This package is deprecated.
